$h2-text: #333333;

$text-pre-white: #A7A7A8;

$text-orange: #E9544E;

$text-white: #fff;

$h2-size: 36px;

$h3-size: 22px;

$text-size: 16px;

// KARK ZUCKERBERG

$main-color: #C4D4E2;
$main-sec-color: #6A96D8;
$message-color1: #E6EDF6;
$message-color2: #F2F2F2;
$message-color3: #FFC2C1;
$send: #6794D8;
$enter-message: #878A94;
$number: #A9A9AB;

